.warp{
  width:750px;
  overflow: hidden;
  zoom:1;
  background: #66a5fb;
}
.header{
  float: left;
  width: 20%;
  height: 100%;
  padding-top: 20px;
  overflow: hidden;
}
.header h1{
  text-align: center;
  color: #fff;
}
.main{
  float: left;
  width: 80%;
  padding-left: 15px;
  background: #fff;
  box-sizing: border-box;
}
.item-list-1 dd,
.item-list-1 dt{
  display: inline-block;
}
.item-list-1 dd{
  margin-right: 25px;
  margin-left: 7px;
}
.item-list-2 dd+dt{
  margin-top: 15px;
}
